## Compound Data Types

### Tuples

* Ordered Sequence
* Tuples are written as comma - separated elements within parenthesis '('..... ')'

#### Tuples: Concantenation

In [1]:
# concatenation using '+' operator

tuple1 = (1,2,3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print(f'Concatenated Tuple 1 {tuple1} + Tuple 2 {tuple2} = {concatenated_tuple}')

Concatenated Tuple 1 (1, 2, 3) + Tuple 2 (4, 5, 6) = (1, 2, 3, 4, 5, 6)

### Tuples: Slicing

In [2]:
tuple1 = ('a', 1, True, 1.0)

# Print First three values from index 0 to (n-1) that is 2
print(tuple1[:3])

('a', 1, True)

#### Tuples: Immutable
It is a constant

In [6]:
tuple1 = ('a', 1, True, 1.0)

# try to replace the value of True to False
tuple1[2] = False

TypeError: 'tuple' object does not support item assignment

### List

* Ordered Sequences
* A list is represented with square brakets
* List is mutable

In [2]:
# List
list1 = ['a', 1, True, 1.0]

# try to replace the value of True to False
list1[2] = False

list1

['a', 1, False, 1.0]