# Titanic Dataset from Seaborn
Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.

Seaborn helps you explore and understand your data. Its plotting functions operate on dataframes and arrays containing whole datasets and internally perform the necessary semantic mapping and statistical aggregation to produce informative plots. Its dataset-oriented, declarative API lets you focus on what the different elements of your plots mean, rather than on the details of how to draw them.

In [1]:
# import libraries
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats as st

In [ ]:
# Load the titanic dataset into a Pandas DataFrame
titanic_dataset = sns.load_dataset('titanic')

# Print Data Type
print("Data Type: ", type(titanic_dataset))

# Print First 5 Rows of the data set
print(titanic_dataset.head())

Data Type:  <class 'pandas.core.frame.DataFrame'>
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [3]:
#Create a new column called is_child, which is derived using 'age' column
titanic_dataset['is_child'] = titanic_dataset["age"].apply(lambda age: True if age < 18 else False)
print("Data Frame After adding a new column")
print(titanic_dataset.head())

Data Frame After adding a new column
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone  is_child
0    man        True  NaN  Southampton    no  False     False
1  woman       False    C    Cherbourg   yes  False     False
2  woman       False  NaN  Southampton   yes   True     False
3  woman       False    C  Southampton   yes  False     False
4    man        True  NaN  Southampton    no   True     False

In [ ]:
#Concatenate a new row in the data frame
new_row = pd.DataFrame({"surived":[0], "pclass" : [1], "sex" : ["male"], "age" : [72], "sibsp": [1], "parch" : [0], "fare" : [126.00], "embarked" : ["S"], "class" : ["First"], "who" : ["man"],
                        "adult_male" : [True], "deck" : [None], "embark_town" : ["Richmond"], "alive" : ["no"], "alone" : [False], "is_child" : [False]})

titanic_concatenated_data_set = pd.concat([titanic_dataset, new_row], ignore_index=True)
print("Concatenated DataFrame:\n")
print(titanic_concatenated_data_set.tail())

Concatenated DataFrame:

     survived  pclass     sex   age  sibsp  parch    fare embarked  class  \
887       1.0       1  female  19.0      0      0   30.00        S  First
888       0.0       3  female   NaN      1      2   23.45        S  Third
889       1.0       1    male  26.0      0      0   30.00        C  First
890       0.0       3    male  32.0      0      0    7.75        Q  Third
891       NaN       1    male  72.0      1      0  126.00        S  First

       who  adult_male deck  embark_town alive  alone  is_child  surived
887  woman       False    B  Southampton   yes   True     False      NaN
888  woman       False  NaN  Southampton    no  False     False      NaN
889    man        True    C    Cherbourg   yes   True     False      NaN
890    man        True  NaN   Queenstown    no   True     False      NaN
891    man        True  NaN     Richmond    no  False     False      0.0

/tmp/ipykernel_1737/3011189391.py:5: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  titanic_concatenated_data_set = pd.concat([titanic_dataset, new_row], ignore_index=True)

In [5]:
# To fix FutureWarning Error on The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.

# Remove empty columns before concatenating

new_row_cleaned = new_row.dropna(axis=1, how='all') 

titanic_concatenated_data_set = pd.concat([titanic_dataset, new_row_cleaned], ignore_index=True)
print("Concatenated DataFrame:\n")
print(titanic_concatenated_data_set.tail())

Concatenated DataFrame:

     survived  pclass     sex   age  sibsp  parch    fare embarked  class  \
887       1.0       1  female  19.0      0      0   30.00        S  First
888       0.0       3  female   NaN      1      2   23.45        S  Third
889       1.0       1    male  26.0      0      0   30.00        C  First
890       0.0       3    male  32.0      0      0    7.75        Q  Third
891       NaN       1    male  72.0      1      0  126.00        S  First

       who  adult_male deck  embark_town alive  alone  is_child  surived
887  woman       False    B  Southampton   yes   True     False      NaN
888  woman       False  NaN  Southampton    no  False     False      NaN
889    man        True    C    Cherbourg   yes   True     False      NaN
890    man        True  NaN   Queenstown    no   True     False      NaN
891    man        True  NaN     Richmond    no  False     False      0.0

## Descriptive Statistics of Titanic Data Set

In [6]:
# Calculate Basic Statistics 
# Central Tendancy - Mean, Median and Mode
# Mean - Average of Given Values
print("Data Type: ", type(titanic_dataset))
mean_age = titanic_dataset["age"].mean()
print("Mean of Age: ", mean_age)
# Median - Middle value 
median_age = titanic_dataset["age"].median()
print("Median of Age: ", median_age)
# Mode - Most Frequency Occuring Value
mode_age = titanic_dataset["age"].mode()[0]
print("Mode of Age: ", mode_age)

Data Type:  <class 'pandas.core.frame.DataFrame'>
Mean of Age:  29.69911764705882
Median of Age:  28.0
Mode of Age:  24.0

## Measures of Variability: Standard Deviation

In [7]:
# Measures of Dispersion (Variability)

# The most common way to gauge the variability is via Standard Deviation

# Standard Deviation - Measures how much the values in the dataset vary around the mean

std_deviation_age = np.std(titanic_dataset["age"])
print(f"Standard Deviation of Age is {std_deviation_age}")

Standard Deviation of Age is 14.516321150817316

### Quartiles and Percentails

In [8]:
# Percentails - Using NumPy
# dropna function will drop NA values
total_percentail_age_np = np.percentile(titanic_dataset["age"].dropna(), 99)
print(f"99th Percentail of Age using numpy: {total_percentail_age_np}")

quartile1_age_np = np.percentile(titanic_dataset["age"].dropna(), 25)
print(f"First Percentail of Age using numpy: {quartile1_age_np}")

quartile3_age_np = np.percentile(titanic_dataset["age"].dropna(), 75)
print(f"Third Percentail of Age using numpy: {quartile3_age_np}")

99th Percentail of Age using numpy: 65.87
First Percentail of Age using numpy: 20.125
Third Percentail of Age using numpy: 38.0

In [9]:
# Percentails - Using Pandas
# dropna function will drop NA values
total_percentail_age_np = titanic_dataset["age"].quantile(0.99)
print(f"99th Percentail of Age using numpy: {total_percentail_age_np}")

quartile1_age_np = titanic_dataset["age"].quantile(0.25)
print(f"First Percentail of Age using numpy: {quartile1_age_np}")

quartile3_age_np = titanic_dataset["age"].quantile(0.75)
print(f"Third Percentail of Age using numpy: {quartile3_age_np}")

99th Percentail of Age using numpy: 65.87
First Percentail of Age using numpy: 20.125
Third Percentail of Age using numpy: 38.0

In [10]:
# Descriptive Stats of Fares
age_fare_sub_dataset = titanic_dataset[['age', 'fare']]

# Calcualte mean, median and mode of age and fare columns in the titanic data set
print(f'Mean of age and fare', age_fare_sub_dataset.mean())
print(f'Median of age and fare', age_fare_sub_dataset.median())
print(f'Mode of age and fare', age_fare_sub_dataset.mode().iloc[0])

Mean of age and fare age     29.699118
fare    32.204208
dtype: float64
Median of age and fare age     28.0000
fare    14.4542
dtype: float64
Mode of age and fare age     24.00
fare     8.05
Name: 0, dtype: float64

## Data Filtering

In [11]:
# Filter passengers by servived
survivors = titanic_dataset [ titanic_dataset['survived'] == True]

print(survivors.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone  is_child
1  woman       False    C    Cherbourg   yes  False     False
2  woman       False  NaN  Southampton   yes   True     False
3  woman       False    C  Southampton   yes  False     False
8  woman       False  NaN  Southampton   yes  False     False
9  child       False  NaN    Cherbourg   yes  False      True

### Multiple Conditions in Data Filtering

In [12]:
female_survivors = titanic_dataset[(titanic_dataset['survived'] == True) & (titanic_dataset['sex'] == 'female')]

print(female_survivors.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone  is_child
1  woman       False    C    Cherbourg   yes  False     False
2  woman       False  NaN  Southampton   yes   True     False
3  woman       False    C  Southampton   yes  False     False
8  woman       False  NaN  Southampton   yes  False     False
9  child       False  NaN    Cherbourg   yes  False      True

### Sorting Data

In [13]:
# Sorting survivors by age

sorted_survivors = survivors.sort_values('age')

print(sorted_survivors.head())

     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
803         1       3    male  0.42      0      1   8.5167        C   Third
755         1       2    male  0.67      1      1  14.5000        S  Second
469         1       3  female  0.75      2      1  19.2583        C   Third
644         1       3  female  0.75      2      1  19.2583        C   Third
78          1       2    male  0.83      0      2  29.0000        S  Second

       who  adult_male deck  embark_town alive  alone  is_child
803  child       False  NaN    Cherbourg   yes  False      True
755  child       False  NaN  Southampton   yes  False      True
469  child       False  NaN    Cherbourg   yes  False      True
644  child       False  NaN    Cherbourg   yes  False      True
78   child       False  NaN  Southampton   yes  False      True

In [14]:
# Sorting by multiple columns - age and pclass

sorted_survivors = survivors.sort_values(['pclass', 'age'], ascending=[False, True]) 

print(sorted_survivors.head())

     survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
803         1       3    male  0.42      0      1   8.5167        C  Third
469         1       3  female  0.75      2      1  19.2583        C  Third
644         1       3  female  0.75      2      1  19.2583        C  Third
172         1       3  female  1.00      1      1  11.1333        S  Third
381         1       3  female  1.00      0      2  15.7417        C  Third

       who  adult_male deck  embark_town alive  alone  is_child
803  child       False  NaN    Cherbourg   yes  False      True
469  child       False  NaN    Cherbourg   yes  False      True
644  child       False  NaN    Cherbourg   yes  False      True
172  child       False  NaN  Southampton   yes  False      True
381  child       False  NaN    Cherbourg   yes  False      True

In [15]:
# Provide a concise summary of the DataFrame
print(titanic_dataset.info())

# Count the number of males and females in the 'sex' column
print(titanic_dataset['sex'].value_counts())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
 15  is_child     891 non-null    bool
dtypes: bool(3), category(2), float64(2), int64(4), object(5)
memory usage: 81.5+ KB
None
sex
male      577
female    314
Name: count, dtype: int64

#### Function calculates basic statistics of all continuous variables

Types of variables that can take on an infinite number of values within a specific range. It provides the count, mean, standard deviation (std), min, max, quartiles in its output

In [17]:
# Generate Descriptive Statistics that summarize a dataset's distribution's central tendency, dispersion, and shape, excluding NaN values
print(titanic_dataset.describe())

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [18]:
# Notice how all the categorical columns like 'sex' or 'class' are missing in the output. By default describe() only includes columns with numerical data

print(titanic_dataset.describe(include='all'))

          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone is_child
count    891      891
unique     2        2
top     True    False
freq     537      778
mean     NaN      NaN
std      NaN      NaN
min      NaN      NaN
25%      NaN      NaN
50%      NaN      NaN
75%      NaN      NaN
max      NaN      NaN

In the above,

unique - the number of distinct objects in the column
top - most frequest object
freq - How many times the top object appears in the column

### Variablity [Dispersion]

It is extent to which data points defer from the center.

#### Range

* Range is the difference between the min and max values in the dataset.
* It is sensitive to the outliers; extriemly high or low value can skew the range.

In [19]:
# Calculate the range for the column age

age_range = titanic_dataset['age'].max() - titanic_dataset['age'].min()

print(f"Range of the Age is {age_range}")

Range of the Age is 79.58

#### Interquartile Range (IQR)

The IQR measures statistical dispresion, how far the data points are. It's range within the middle 50% of the data falls. It is a better measure of dispresion than the range because outliers don't affect it.

In [20]:
# calculate the IQR
quartile1_age_np = titanic_dataset["age"].quantile(0.25)
print(f"First Percentail of Age using numpy: {quartile1_age_np}")

quartile3_age_np = titanic_dataset["age"].quantile(0.75)
print(f"Third Percentail of Age using numpy: {quartile3_age_np}")

iqr = quartile3_age_np - quartile1_age_np
print(f"IQR is {iqr}")

First Percentail of Age using numpy: 20.125
Third Percentail of Age using numpy: 38.0
IQR is 17.875

In [21]:
# Calculate for Fare Column

# Calculate the numerical data range for 'fare'
fare_range = titanic_dataset['fare'].max() - titanic_dataset['fare'].min()
print('Fare Range:', fare_range)

# Calculate the IQR for 'fare'
Q1 = titanic_dataset['fare'].quantile(0.25)
Q3 = titanic_dataset['fare'].quantile(0.75)
IQR = Q3 - Q1
print('Fare IQR:', IQR)

median_fare = titanic_dataset['fare'].median()
print('Median Fare:', median_fare)

Fare Range: 512.3292
Fare IQR: 23.0896
Median Fare: 14.4542